.team{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rowIcon{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:8
   
    
}
