.header{
    background-color:darkblue;
    height : 70px;
    width:100%;
    display:flex;
    flex-direction: row;
    size:cover;
   
}
.logo{
    border-radius: 100%;
 
}
.dropdown {
    float: left;
   
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding:23;
    font-family:Arial;
    font-weight:500;
    margin-right:8
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#87CEEB;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .Home:hover{
    background-color:#87CEEB;
    color: white;
    

  }
  #footer2{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:200;
    background-color: powderblue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5;
    
 }
 .event{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }