
.event{
    
    background-image:url('./assets/event.jpeg');
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin:0;
    padding: 0;
    background-size: cover;
}

.titleEvents{
    background-color: White;
    width:10%;
    height:5%;
    margin:auto;
    position: absolute;
    top: 30%;
    left: 50%;
   

}
.titre{
   
    color:white;
    font-size:70;
    font-weight:bold;
    padding:150px ;
    margin-left: 35%;
  
    
    text-shadow:2px 2px  blue;
    
}
.main{
    margin-top: 60;
    text-align: center;
    font-weight: 500;
    font-size:18;
    animation-name: mainAnimation;
    animation-duration: 3s;
}
@keyframes mainAnimation{
  from {color:white;}
  to {color: black;}
  0% {
  transform: scale(0.3);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
  transform: scale(1.0);
}
}

.competitions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.first{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation-name: firstanim;
    animation-duration:2s;
}
@keyframes firstanim{
  
  0%{
      transform: translate3d(-400px,0px,00px);
  }
  
  100%{
      transform: translate3d(00px,0px,10px);
  }
}
.bar{
    background-color:darkblue;
    height : 70px;
    width:100%;
    padding:0;
    display:flex;
    flex-direction: row;
    
   margin:0;
   size:cover;
   position:absolute;
  left:0px;
  top:0px;
}
.logo{
    border-radius: 100%;
    background-color: white;
}
.dropdown {
    float: left;
   
  }

.hOne{
  animation-name:titleanim;
  animation-duration:2s;
}
@keyframes titleanim{
  0%{
    transform: translate3d(00px,-80px,00px);
}

100%{
    transform: translate3d(00px,0px,00px);
}
}



  
  
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding:23;
    font-family:Arial;
    font-weight:500;
    margin-right:8
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
 
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#87CEEB;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .Home:hover{
    background-color:#87CEEB;
    color: white;
    

  }

  
  
#footer2{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height:200;
  background-color: powderblue;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:5;
  
}

