.mobile{
    
    background-image:url('./assets/mobile4.png');
    height:650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.title{
    color:white;
}
.texte{
    font-weight: 500;
    text-align: center;
    animation-name: animtext1;
  animation-duration: 4s;
}
@keyframes animtext1{
    from {color:white;}
    to {color: black;}
    0% {
    transform: scale(0.3);
    }
    50% {
      transform: scale(0.5);
    }
    100% {
    transform: scale(1.0);
}
}
.step{
    font-weight: 600;
    text-align: center;
    color:white;
   
    margin-right: 15;
    
    
}


.icon{
    float:left;
    margin-top: 5;
  

}
.iconWeb{
    font-weight: 600;
    margin-top: 0;
    float:left;
    color:white;

}
.projectapp{
    
    margin-left:70;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 5px; 
    width: 150px;
    
    
}
.projectapp:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
    
  }
  
  
  .row {
   display:flex;
   flex-direction:row;
   justify-content:space-around;
  }
  .container1{
   

    background-color: #191970;
    width:200px;
    height:60px;
    padding:15;
    border-radius: 80%;
    animation-name: brainanim1;
    animation-duration: 3s;
    
  }
  .container2{
    background-color: #191970;
    width:200px;
    height:60px;
    padding:15;
   
    border-radius: 80%;
   animation-name: brainanim;
    animation-duration: 3s;
    
  }
  @keyframes containanim{
    from{background-color: white;}
    to {background-color: #191970;}
    0%{
        transform: translate3d(-400px,0px,00px);
    }
    
    100%{
        transform: translate3d(00px,0px,10px);
    }
}
@keyframes stepsanim{
    from{margin: 0}
    to{margin:50px}
}
.steps{
    animation-name: stepsanim;
    animation-duration: 3s;
}
.cross {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .header{
    background-color:darkblue;
    height : 70px;
    width:100%;
    display:flex;
    flex-direction: row;
    size:cover;
   
}
.logo{
    border-radius: 100%;
 
}
.dropdown {
    float: left;
   
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding:23;
    font-family:Arial;
    font-weight:500;
    margin-right:8
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#87CEEB;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .Home:hover{
    background-color:#87CEEB;
    color: white;
    

  }
  #footer2{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:200;
    background-color: powderblue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5;
    
 }
  


  
