 /*head*/
 .row{
    background-color:darkblue;
    height : 70px;
    width:100%;
    padding:0;
    display:flex;
    flex-direction: row;
    
   margin:0;
   size:cover;
   position:relative;
  left:0px;
  top:0px;
}
.logo0{
    border-radius: 100%;
    background-color: white;
   

}
.dropdown {
    float: left;
   
  }
  
  
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding:23;
    font-family:Arial;
    font-weight:500;
    margin-right:8
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
 .dropdown:hover .dropbtn {
    background-color:#87CEEB;
    color: white;
  }
  
 
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .Home:hover{
    background-color:#87CEEB;
    color: white;
    

  }




.main{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
	background:linear-gradient(to right,#6495ED	,#0000CD);
	
}
nav{
	width:80%;
	position:sticky;
	margin:20px auto;
	z-index:1;
	display:flex;
	align-items: center;
}
.logo{
	flex-basis:20%;
}
.logo img{
	width:150px;
}
.information{
	width:1000px;
	height:1000px;
	position:absolute;
	top:50%;
	left:-10%;
	transform:translateY(-50%);
}
#circle{
	width:1000px;
	height:1000px;
	position:absolute;
	top:0;
	left:0;
	border-radius:50%;
	
	transform: rotate(0deg);
	transition:1s;
}
.feature img{
	width:70px;

}
.feature{
	position:absolute;
	display:flex;
	color:#fff;
}


.feature div{ 
margin-left: 30px;

}
.feature div a {
	color:#fff;
}
.feature div p{
 margin-top: 8px;


}
.one{
top:40%;
right:0%
}
.two{
	top:35%;
  left:80%;
  right:100%;
    transform: rotate(-90deg);
}
.three{
	bottom:40%;
  left:10%;
  right:90%;
	 transform: rotate(-180deg);

}
.four{
  bottom:23%;
  right:50%;
  left:60%;
   transform: rotate(-270deg);
}
.mobile{
	width:200px;
	position:absolute;
	top:50%;
	left:35%;
	transform:translateY(-50%);
	z-index:1;
}
.controls{
	position:absolute;
	right:10%;
	top:50%;
	transform:translateY(-50%);
	text-align: center;
}
.controls h3{
	margin:35px 0;
	color:#fff;
}
#upBtn{
	width:15px;
	cursor:pointer;
}
#downBtn{
	width:15px;
	cursor:pointer;
	transform:rotate(180deg);
}
.overlay{
	width:0;
	height:0;
	border-top:500px solid #fff;
	border-right:500px solid transparent;
	border-bottom:500px solid #fff;
	border-left:500px solid #fff;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
}

/*footer*/

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:200;
    background-color: powderblue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5;
    
 }
 .logo{
    border-radius: 100%;
    background-color: white;
}
