*{
	padding:0;
	margin:0;
}
.hero{
	height:100vh;
	width:100%;
	background-image:url(images/banner.png); 
	background-size:cover;
	background-position:center;
}
.logo{
	width:250px;
	height:100px;
	position:absolute;
	background:#fff;
	display:flex;
	justify-content:center;
	align-items:center;
	z-index:2;
}
.logo img{
	width:80px;
}

.sidebar{
	width:250px;
	height:91vh;
	top:8.3%;
	left:0;
	background: rgba(255,255,255,0.6);
	position: absolute;
}
.text-box{
	transform:rotate(-90deg);
	position:absolute;
	top:45%;
	text-align:center;
}
.text-box h1{
	font-size:35px;
	font-weight:100;
	color:#0000CD;
}
.text-box h4{
	margin:7px 0 10px;
	font-size:20px;
	color:#0000CD;
}
.line{
	width:80px;
	height:3px;
	margin:auto;
	background:#0000CD;
}
.content{
	color:#fff;
	position:absolute;
	right:450px;
	top:52%;
	transform:translateY(-50%);
}

.btn{
	display:flex;
	align-items:center;
	justify-content:center;
	width:170px;
	padding:8px 0;
	background:#fff;
	color:#000;
	border-radius:3px;
	cursor:pointer;
}
.btn img{
	width:30px;
	margin-right:15px;
}
#backVideo{
	position:absolute;
	right:0;
	bottom:0;
	display:none;
	}

@media (min-aspect-ratio:16/9) {
	#backVideo{
		width:100%;
		height:auto;
	}
}
@media (max-aspect-ratio:16/9) {
	#backVideo{
		width:auto;
		height:92%;
	}
}


/*ABOUT US*/
#feature{
 width:100%;
 padding:20px 0;
 background-color: #B0C4DE;
 
 }
 .title-text{
 	padding-top: 20px;
 	padding-bottom:30px;
 	text-align:center;
 }
 
 .title-text h1{
 	color:#0000CD;
 	 	font-size:50px;
 }

 
 
 .features{
 	flex-basis:50%;
 }
 .features-img{
 	flex-basis:50%;
 	margin:auto;
 }
 .features-img img{
 	width: 50%;
 	border-radius:10px;

 }
 .features h1{
    text-align:left;
    margin-bottom:10px;
    font-weight:100;
    color:#009688;

 }
 .features-desc{
 	display:flex;
 	align-items:center;
 	margin-bottom:40px;

 }
 .features-icon .fa{
 	width:50px;
 	height: 50px;
 	border-radius: 8px;
 	font-size:30px;
 	border:1px solid #0000CD;
 	color:#0000CD;
 	line-height: 50px;
 	text-align:center;

 }

 .features-text p{ /* to align the 2 lignes */
 	text-align: initial;
 	padding:0 20px;
 }

 @media screen and(max-width:770px){
 	.title-text h1{
 		font-size:35px;
 	}
 	.features{
 		flex-basis:100%;
 	}
 	.features img{
 		flex-basis:100%;
 	}
 	.features-img img{
 		width:100%;

 	}
 }

 /*Contact Us*/
.main{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
	background:linear-gradient(to right,#6495ED	,#0000CD);
}
nav{
	width:80%;
	position:sticky;
	margin:20px auto;
	z-index:1;
	display:flex;
	align-items: center;
}
.logo{
	flex-basis:20%;
}
.logo img{
	width:150px;
}
.information{
	width:1000px;
	height:1000px;
	position:absolute;
	top:50%;
	left:-10%;
	transform:translateY(-50%);
}
#circle{
	width:1000px;
	height:1000px;
	position:absolute;
	top:0;
	left:0;
	border-radius:50%;
	
	transform: rotate(0deg);
	transition:1s;
}
.feature img{
	width:70px;

}
.feature{
	position:absolute;
	display:flex;
	color:#fff;
}


.feature div{ /*add space atound the img*/
margin-left: 30px;

}
.feature div a {
	color:#fff;
}
.feature div p{
 margin-top: 8px;


}
.one{
top:350px;
right:50px;
}
.two{
	top:50px;
    left:350px;
    transform: rotate(-90deg);
}
.three{
	bottom:350px;
	left:50px;
	 transform: rotate(-180deg);

}
.four{
  bottom:0px;
  
  right:250px;
   transform: rotate(-270deg);
}
.mobile{
	width:200px;
	position:absolute;
	top:50%;
	left:35%;
	transform:translateY(-50%);
	z-index:1;
}
.controls{
	position:absolute;
	right:10%;
	top:50%;
	transform:translateY(-50%);
	text-align: center;
}
.controls h3{
	margin:35px 0;
	color:#fff;
}
#upBtn{
	width:15px;
	cursor:pointer;
}
#downBtn{
	width:15px;
	cursor:pointer;
	transform:rotate(180deg);
}
.overlay{
	width:0;
	height:0;
	border-top:500px solid #fff;
	border-right:500px solid transparent;
	border-bottom:500px solid #fff;
	border-left:500px solid #fff;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
}
.row2{
    background-color:darkblue;
    height : 70px;
    width:100%;
    padding:0;
    display:flex;
	flex-direction: row;
	z-index:1;
    
   margin:0;
   size:cover;
  
}
.logoBars{
    border-radius: 100%;
    background-color: white;
}
.dropdown {
    float: left;
   
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding:23;
    font-family:Arial;
    font-weight:500;
    margin-right:8
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#87CEEB;
    color: white;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .Home:hover{
    background-color:#87CEEB;
    color: white;
    

  }



/*team*/
.team{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rowIcon{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:8
   
    
}
#footer2{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:200;
    background-color: powderblue;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5;
    
 }
 
